@keyframes m {
	0% {
		transform: translateY(-2550px);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: rotateY(180deg);
	}
	60% {
		transform: rotateY(0deg);
	}

	100% {
		transform: translateY(1000px);
	}
}

.m {
	animation: m 1.2s infinite;
	animation-fill-mode: forwards;
}

@keyframes i {
	0% {
		transform: translateY(-2550px);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: rotateY(180deg);
	}
	60% {
		transform: rotateY(0deg);
	}

	100% {
		transform: translateY(1000px);
	}
}

.i {
	animation: i 1.3s infinite;
	animation-fill-mode: forwards;
}

@keyframes r {
	0% {
		transform: translateY(-2550px);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: rotateY(180deg);
	}
	60% {
		transform: rotateY(0deg);
	}

	100% {
		transform: translateY(1000px);
	}
}

.r {
	animation: r 1.4s infinite;
	animation-fill-mode: forwards;
}

@keyframes x {
	0% {
		transform: translateY(-2550px);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: rotateY(180deg);
	}
	60% {
		transform: rotateY(0deg);
	}

	100% {
		transform: translateY(1000px);
	}
}

.x {
	animation: x 1.5s infinite;
	animation-fill-mode: forwards;
}

@keyframes c {
	0% {
		transform: translateY(-2550px);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: rotateY(180deg);
	}
	60% {
		transform: rotateY(0deg);
	}

	100% {
		transform: translateY(1000px);
	}
}

.c {
	animation: c 1.6s infinite;
	animation-fill-mode: forwards;
}
@keyframes l {
	0% {
		transform: translateY(-2550px);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: rotateY(180deg);
	}
	60% {
		transform: rotateY(0deg);
	}

	100% {
		transform: translateY(1000px);
	}
}

.l {
	animation: l 1.7s infinite;
	animation-fill-mode: forwards;
}

@keyframes e {
	0% {
		transform: translateY(-2550px);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: rotateY(180deg);
	}
	60% {
		transform: rotateY(0deg);
	}

	100% {
		transform: translateY(1000px);
	}
}

.e {
	animation: e 1.8s infinite;
	animation-fill-mode: forwards;
}
